<div class="header" *ngIf="!auth.isLoggednIn()">
  <div class="wrapper">
    <label for="username">Имя пользователя:</label>
    <input type="text" [(ngModel)]="username" id="username"  required="required">
    <label for="pass">Пароль:</label>
    <input type="password" [(ngModel)]="pass" id="pass" required>
    <input type="submit" value="login" (click)="login()">
  </div>
</div>

<div class="header" *ngIf="auth.isLoggednIn()">
  <div class="wrapper">
    <a href="#" routerLink="/edit">create ad</a>
    <input type="submit" value="logout" (click)="logout()">
  </div>
</div>
<div id="mainCont">
  <div id="adCont"></div>
</div>